html,
body,
#root {
    height: 100%;
    margin: 0;
}

.flex-container {
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #daa520;
}

div:nth-child(4n + 1) {
    align-items: flex-start;
}

div:nth-child(2n) {
    align-self: center;
}

div:nth-child(3) {
    align-self: flex-end;
}
